/**
 * Style for responsive menu
 */

 @desktopNavbarFontSize: 0.8em;
 @desktopNavbarPaddingTB: 0.8em;
 @desktopNavbarPaddingLR: 0.7em;


 /**
  * Example on media queries
  */
 @media screen and (max-width: 699px) {
     .rm-small {
         display: block;
     }
     
     .rm-desktop {
         display: none;
     }
 }

 @media screen and (min-width: 700px) {
     .rm-small {
         display: none;
     }
 }

 @media screen and (min-width: 700px) and (max-width: 1399px) {
    /**
    * Menu layout for the desktop variant, usually full width of browser.
    */

    .rm-desktop li a {
        // The link of the menu item
        padding: @desktopNavbarPaddingTB @desktopNavbarPaddingLR;
        font-size: @desktopNavbarFontSize;
    }
}
